/*Custom CSS Stylesheet for Julianna Yank*/

/*Top-Level Body*/
body {
  /*background-color: #f6f6f6; Changed 20201105 to accompany JPG Graphics with white background*/ 
    background-color: #ffffff;
    font-family: "Source Sans Pro"; "sans-serif"
}

.fpo {
    color: #DF00FE;
}

/*.container {
    width:100%;
}*/

/*Font*/
h2 {
    font-weight: 600;
}

p {
    font-size: 16px;
}

p, ul li, table, .table {
    color: #b7b1b1;
}


.letzb{
    text-decoration: underline;
    color: #BB90FF;
}

.radiate {
    color:#3A95E3;
    text-decoration: underline;
}

.text-none {
    color: inherit;
}

.descriptive-header {
    font-weight: 100;
    opacity: 75%;
    color: #b7b1b1;
}


/*LetzB DIVs*/
.megan-zucker {
    background-color: #fef6e3;
    border-radius: 10px;
}

.jennifer-lee {
    background-color: #e6e6fe;
    border-radius: 10px;
}

.shannon-smith {
    background-color: #f3a8ad;
    border-radius: 10px;
}

.competitive-pros {
    background-color: #deffe4;
    border-radius: 10px;
}

.competitive-cons {
 background-color: #ffe4e4;
    border-radius: 10px;   
}

.competitive-logo {
    background-color: #4e4e4e;
    border-radius: 10px;
}

.competitive-logo img {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.competitive-breakdown-table {
    border-spacing: 10px;
    border-collapse: separate;
}

.letzb-quote-right {
    background: rgb(155,158,225);
    background: -webkit-linear-gradient(left, rgba(155,158,225,1) 0%, rgba(165,161,222,1) 50%, rgba(185,164,220,1) 100%);
    background: -o-linear-gradient(left, rgba(155,158,225,1) 0%, rgba(165,161,222,1) 50%, rgba(185,164,220,1) 100%);
    background: linear-gradient(to right, rgba(155,158,225,1) 0%, rgba(165,161,222,1) 50%, rgba(185,164,220,1) 100%);
    width:75%;
    float:right;
    padding: 10px;
    margin-bottom:10px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;  
}

.letzb-quote-left {
    background: rgb(185,164,220);
background: -webkit-linear-gradient(left, rgba(185,164,220,1) 0%, rgba(165,161,222,1) 50%, rgba(155,158,225,1) 100%);
background: -o-linear-gradient(left, rgba(185,164,220,1) 0%, rgba(165,161,222,1) 50%, rgba(155,158,225,1) 100%);
background: linear-gradient(to right, rgba(185,164,220,1) 0%, rgba(165,161,222,1) 50%, rgba(155,158,225,1) 100%);

    width:75%;
    float: left;
    padding: 10px;
    margin-bottom:10px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;  
}

.letzb-video {
    width:65%;
    margin: 0 auto;
    text-align: center;
    display:block;
    padding-bottom:10px;
}
/*Other*/
img {
    width:100%;
}

video {
    width:100%;
}

.reverse {
    flex-direction: row-reverse;
}

.love-sketch {
    background-image:url(../img/about/heart.PNG);
    background-position: right;
    background-repeat: no-repeat;
    
}

.about {
    background-color: #f8fcff;
    border-style: solid;
    border-color: #f6f6f6;
    
}

.UI-Old-Examples {
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #ff0000;
    color:#ffffff;
    /*display: table-cell;*/
    margin: auto;
}

.UI-New-Examples {
    height: 40px;
    width: 40px;
    /*display: table-cell;*/
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #00ff00;
    color:#000000;
    margin: auto;
}

.UI-Flex {
    display:flex;
    align-items: center;
    justify-content: center;
}

/*.about-hero {
    width:75%;
    float:right;
}*/

