/*Custom CSS Stylesheet for Julianna Yank*/

/*Top-Level Body*/
body {
  /*background-color: #f6f6f6; Changed 20201105 to accompany JPG Graphics with white background*/ 
    background-color: #ffffff;
    font-family: "Source Sans Pro", "Open Sans", "Futura", sans-serif;
}

.fpo {
    color: #DF00FE;
}

.shadow {
    -webkit-filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .5));
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .5));
}

/*img:hover{
    transform:scale(1.25);
    display:inline-flex;
    position:absolute;
    transition: 0.3s;
    z-index:1000000;
    display:inline-block;
    position:inherit;
}*/

/*.container {
    width:100%;
}*/

/*Font*/
h1, h2 {
    padding-bottom: 2.5px;
}
h3, h4, h5, h6, p {
    padding-bottom: 5px;
}

h2 {
    font-weight: 600;
}

p {
    font-size: 16px;
}

p, .yank {
    /*color:#b7b1b1; REPLACED, NOT ADA COMPLIANT*/
    color: #787474;
}


.letzb{
    text-decoration: underline;
    color: #BB90FF;
}

.radiate {
    color:#3A95E3;
    text-decoration: underline;
}

.text-none {
    color: inherit;
}

.descriptive-header {
    font-weight: 100;
    opacity: 75%;
    color: #787474;
}


/*INDEX DIVs*/
.home-col {
  display:flex;
    justify-content:center;
    align-items:center;   
}

/*LetzB DIVs*/
.megan-zucker {
    background-color: #fef6e3;
    border-radius: 10px;
    color: #000000;
    
}

.jennifer-lee {
    background-color: #e6e6fe;
    border-radius: 10px;
    color: #000000;
}

.shannon-smith {
    background-color: #f3a8ad;
    border-radius: 10px;
    color: #000000;
}

.competitive-pros {
    background-color: #deffe4;
    border-radius: 10px;
    color: #000000 !important;
}

.competitive-cons {
 background-color: #ffe4e4;
    border-radius: 10px;  
    color: #000000;
}

.competitive-logo {
    background-color: #4e4e4e;
    border-radius: 10px;
}

.competitive-logo img {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.competitive-breakdown-table {
    border-spacing: 10px;
    border-collapse: separate;
}

.letzb-quote-right {
    background: rgb(155,158,225);
    background: -webkit-linear-gradient(left, rgba(155,158,225,1) 0%, rgba(165,161,222,1) 50%, rgba(185,164,220,1) 100%);
    background: -o-linear-gradient(left, rgba(155,158,225,1) 0%, rgba(165,161,222,1) 50%, rgba(185,164,220,1) 100%);
    background: linear-gradient(to right, rgba(155,158,225,1) 0%, rgba(165,161,222,1) 50%, rgba(185,164,220,1) 100%);
    width:75%;
    float:right;
    padding: 10px;
    margin-bottom:10px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;  
}

.letzb-quote-left {
    background: rgb(185,164,220);
background: -webkit-linear-gradient(left, rgba(185,164,220,1) 0%, rgba(165,161,222,1) 50%, rgba(155,158,225,1) 100%);
background: -o-linear-gradient(left, rgba(185,164,220,1) 0%, rgba(165,161,222,1) 50%, rgba(155,158,225,1) 100%);
background: linear-gradient(to right, rgba(185,164,220,1) 0%, rgba(165,161,222,1) 50%, rgba(155,158,225,1) 100%);
    width:75%;
    float: left;
    padding: 10px;
    margin-bottom:10px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;  
}

.letzb-video {
    width:65%;
    margin: 0 auto;
    text-align: center;
    display:block;
    padding-bottom:10px;
}
/*Other*/
img {
    width:100%;
}

video {
    width:100%;
}

.reverse {
    flex-direction: row-reverse;
}

.love-sketch {
    background-image:url(../img/about/heart.PNG);
    background-position: right;
    background-repeat: no-repeat;
    
}

.about {
    background-color: #f8fcff;
    border-style: solid;
    border-color: #f6f6f6;
    
}

.UI-Old-Examples {
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #ff0000;
    color:#ffffff;
    /*display: table-cell;*/
    margin: auto;
}

.UI-New-Examples {
    height: 40px;
    width: 40px;
    /*display: table-cell;*/
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #00ff00;
    color:#000000;
    margin: auto;
}

.UI-Flex {
    display:flex;
    align-items: center;
    justify-content: center;
}

.UI-Compare-Bad {
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ff0000;
    color:#ffffff;
    display: inline-flex;
    font-weight: bold;
}

.UI-Compare-Good {
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #00ff00;
    color:#000000;
    display: inline-flex;
    font-weight: bold;
}

/*.UI-Compare {
    display: flex;
    justify-content: center;
    align-items: center;
}*/
/*.about-hero {
    width:75%;
    float:right;
}*/

/*
@media (max-width: 767.98px) { html, p {
        font-size: 1.95rem;
    } }


@media (min-width: 768px) and (max-width: 991.98px) { html, p {
        font-size: 1.5rem;
    } }

*/


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
/*blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}*/
blockquote p {
  display: inline;
}